name: ci-publish

on:
  release:
    types: [published]
    
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 
          cache: 'pnpm'
          registry-url: https://npm.pkg.github.com/
          scope: "@komejs"

      - name: install dependencies
        run: pnpm install
        working-directory: ./packages/core

      - name: Build
        run: pnpm run build
        working-directory: ./packages/core

      - name: Publish
        run: pnpm publish
        working-directory: ./packages/core
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
